In [1]:
import psycopg2
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# project-three-bi.clpkklnojmiu.us-east-2.redshift.amazonaws.com:5439/dev
dbname = 'dev'
host = 'project-three-bi.[yourendpointtinfo].us-east-2.redshift.amazonaws.com'
user = 'your username'
password = 'your password'
port = '5439'

endpoint = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"

# read from redshift

In [3]:
my_connection = create_engine(endpoint)

In [4]:
query = "SELECT * FROM mytable;"
df = pd.read_sql(query, my_connection)

In [5]:
df.head()

,uniq_id,product_name,brand_name,asin,category,upc_ean_code,list_price,selling_price,quantity,model_number,...,product_url,stock,product_details,dimensions,color,ingredients,direction_to_use,is_amazon_seller,size_quantity_variant,product_description
0,00037729f1cb566e149f0beff2d9ffd3,Pokeno 2,None,None,Toys & Games | Games & Accessories | Card Games,None,None,$15.01,None,Pokeno(Return),...,https://www.amazon.com/Bicycle-Pokeno-Return-2...,None,None,None,None,None,None,Y,None,None
1,0003a7ccfb779e7ac1664fb13145aff2,Medicom JUL188832 Peanuts: Surfer Snoopy Ultra...,None,None,None,None,None,$9.94,None,-,...,https://www.amazon.com/Medicom-JUL188832-Peanu...,None,None,None,None,None,None,Y,None,None
2,000f59b5765a88b998642b4fa5ffdc17,Darice 1177-01 Percussion Instrument D Shape w...,None,None,Toys & Games | Learning & Education | Musical ...,None,None,$6.90,None,1177-01,...,https://www.amazon.com/Darice-1177-01-Percussi...,None,None,None,None,None,None,Y,None,None
3,001d216315bc84347addbb1a9c7e5015,Melissa & Doug Joey Magnetic Dress-Up Set (Pre...,None,None,Toys & Games | Dress Up & Pretend Play | Prete...,None,None,$11.69,None,3550,...,https://www.amazon.com/Melissa-Doug-Magnetic-E...,None,None,None,None,None,None,Y,None,None
4,001ea8215e519a8388c1f1574662550e,AMERICAN GREETINGS Rainbow Latex Balloons| Pac...,None,None,Home & Kitchen | Home Décor | Candles & Holder...,None,None,$10.17,None,113255.99,...,https://www.amazon.com/American-Greetings-Rain...,None,None,None,None,None,None,Y,None,None

In [6]:
df = df.fillna('')

### Here we will extract the first item in the ctegory section for a broad over view of what item cetgories we have ###

In [7]:
df['parent_category'] = df['category'].apply(lambda row: row.split('|')[0])
df[['category', 'parent_category']].head()

                                            category  parent_category
0    Toys & Games | Games & Accessories | Card Games    Toys & Games
1
2  Toys & Games | Learning & Education | Musical ...    Toys & Games
3  Toys & Games | Dress Up & Pretend Play | Prete...    Toys & Games
4  Home & Kitchen | Home Décor | Candles & Holder...  Home & Kitchen

In [8]:
top_ten_category = pd.DataFrame(df['parent_category'].value_counts()[:10])
cols = ['category', 'count']
top_ten_category_df = top_ten_category.reset_index()
top_ten_category_df.columns = cols
top_ten_category_df

                     category  count
0               Toys & Games    6531
1                               1036
2             Home & Kitchen     658
3  Clothing, Shoes & Jewelry     630
4          Sports & Outdoors     539
5              Baby Products     212
6      Arts, Crafts & Sewing     101
7            Office Products      76
8                    Hobbies      34
9    Industrial & Scientific      29

# Write to Redshift

In [9]:
top_ten_category_df.to_sql('top_ten_category_table', my_connection, index=False, if_exists='replace')

# Read new Table

In [10]:
query = "SELECT * FROM top_ten_category_table;"
df2 = pd.read_sql(query, my_connection)
df2.head()

                     category  count
0               Toys & Games    6531
1                               1036
2             Home & Kitchen     658
3  Clothing, Shoes & Jewelry     630
4          Sports & Outdoors     539